/*part1*/
.part1 {
    box-sizing: border-box;
    max-width: 1020px;
    max-height: 1100px;
}

header {
    margin: 0;
    font-family: 'Lato', sans-serif;
    
}

.telefon {
    background-color: #f06c64;
    height: 600px;
    margin: 0;
}

.container{
    display: flex;
    width: 1000px; 
    margin-left: 0px;;    

}

.header {
    height: 95px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;   
    background-color: #2d303a; 
}

h1 {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

.star {color: tomato;}    

.navigation {
    height: 80px;
    width: 1190px;    
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: right;
    align-items: center;
    font-size: 12px;
line-height: 6px;
color: white;
font-family: "Lato";
font-weight: 700;
text-align: left;

}

.menu_item:hover {
    color: tomato;
}

.menu {
    display: flex;
    
}

.menu_item {
    list-style-type: none;
    display: inline-block;
    margin-right: 9px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;       
}

.telefon {    
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0;
    justify-content: space-between;
}


.vertical {
    display: flex;
    justify-content: flex-start;
   align-items: baseline;
    flex-shrink: 0;
    width: 160px;
    height: 60px;
    margin-right: 120px;    
}

.vertical:nth-child(1) {
    margin-top: 290px;
}

.horizont {
    display:flex;   
    
}

.utr{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;    
    background-color: #f06c64;
    border: 0px solid transparent;
    cursor: pointer;
    outline: none;
    
} 

.phons {
    display: block;
}


h3 {
    margin: 10px;
}

.two {
    width: 100%;
    max-width: 960px;
    
    margin-left: auto;
	margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.ter {
    height: 100%;
    max-height: 520px;
    background-color: #f2f2f2;
    
    
    
}
.section-heading {
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    color: #666d89;
    margin-bottom: 30px;
    margin-top: 0px;
}
.section-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    margin-bottom: 50px;
}
.services-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-item {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.services-item:nth-child(1),
.services-item:nth-child(2),
.services-item:nth-child(3) {
    margin-top: 0px;
}
.services-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border: 2px #767e9e solid;
    border-radius: 30px;
    margin-right: 20px;
}
.services-img {
    display: block;
}
.services-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #666d89;
    margin-bottom: 10px;
}
.services-subtitle {
    display: inline;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #767e9e;
}


/*part2*/ 
.part2{
    box-sizing: border-box;
    max-width: 1020px;
    max-height: 1600px;
}

.body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.containe{
    display: flex;
    display: -webkit-box;
    margin-left: 0px;  
}

.heade {    
    height: 870px;
    background-color: #2d303a;
}

h2{
    margin-left: 40px;
    margin-top: 60px;
    font-size: 31px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900px;
    text-align: left;    
}

.text-heade{
    margin-left: 40px;
    font-size: 17.5px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300px;
    text-align: left;
}

.items{
    display: flex;
    margin-left: 40px; 
    margin-bottom: 20px;
    margin-top: 16px;    
}

input{
    height: 22px;
    border-radius: 5px;
    background-color:  #2d303a;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400px;
    text-align: left;
    margin-right: 10px;  
    cursor: pointer;
    outline: none;
}

input:hover{
    color: white;
    border-color: white;
}

button{
    width: 57px;
    height: 22px;
    border-radius: 5px;    
    border: 1px solid #666d89;    
}

.picture {
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   margin-left: 40px;   

}
.monstro{
    margin-right: 1.25rem;
    margin-bottom: 1.24rem;
}

.maini{
    display: flex;
    width: 1020px;
    height: 730px;
    background-color: #f2f2f2;    
}

.section-headin{
margin-left: 40px;
margin-top: 70px;
font-size: 32px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900;
text-align: left;
}

.section-text{
margin-left: 40px;
margin-top: 25px;
width: 940px;
height: 57px;
font-size: 17.5px;
line-height: 30px;
color: #767e9e;
font-family: "Lato";
font-weight: 300px;
text-align: left;
letter-spacing: unset;
}

.faces{
    display: -webkit-box;
    display:flex;
    margin-left: 40px;
    margin-top: 38px;
    flex-direction: row;
    width: 1020px;        
}

figure{
    margin: 0;
    width: 300px;
    margin-right: 1.22rem;
    margin-top: 0.2rem;
    
}

figure:nth-child(2){
    margin-right: 1.27rem;
}

.heading{
font-size: 18px;
line-height: 18px;
color: #666d89;
font-family: "Lato";
font-weight: 900px;
text-align: left;
margin: 0;
max-height: 80px;
}

div.text{
width: 300px;
font-size: 12px;
line-height: 25px;
color: #767e9e;
font-family: "Lato";
font-weight: 400px;
text-align: left;
}

h4{
    margin-top: 13px;
    margin-bottom: 0;
    font-size: 17px;
}

.iconss-mediaa{
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    max-width: 152px;
}

.iconn{    
    display: flex;
    margin-left: 1px;
    margin-top: 9px;
    
}
img.iconn:hover{cursor: pointer;
    background-color: khaki;
    border-radius: 15px;
}





/*part3*/

footer{
    box-sizing: border-box;
    max-width: 1020px;
    max-height: 730px;
}

.body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.headeri{
    width: 1020px;
    height: 655px;
    background-color: #f06c64;
}

.pol{
    width: 1020px;
    height: 80px;
    background-color: #2d303a;
}

h5{
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    margin-top: 68px;
}

.containere{
    display: flex;
    display: -webkit-box;
    margin-left: 0px;  
}

.texta{
    width: 960px;
    height: 57px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300px;
    margin-top: 115px;
    margin-left:-159px; 
    text-align: left;   

}

.Copyright{
    font-size: 12px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    margin-left: 53px;
    margin-bottom: -40px;

}

.iconsu-medio{
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    max-width: 152px;
    text-align: right; 
    margin-left: 825px;     

}

img.iconh{    
    display: flex;
    margin-left: 1px;
    margin-top: -6px;
    
}

img.iconh:hover{cursor: pointer;
    background-color: khaki;
    border-radius: 15px;
}
.maino{
    display: flex;
    max-height: 300px;
}


textarea{
    display: flex;    
    width: 619px;
    height: 38px;
    border-radius: 5px;
    border: 0;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 350px;
    text-align: left;
    margin-left: 40px;
    margin-top: 15px;
    resize: none;
}
.last{
    height: 200px;   
    
}

.first{
    margin-top: 45px;
    font-size: 12px;
line-height: 22px;
color: #f48c8f;
font-family: "Lato";
font-weight: 400;
text-align: left;
}

.re{
    margin-top: 44px;
    margin-left: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    margin-bottom: 0;

}

.po{
    width: 310px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400px;
    text-align: left;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    
}

.itemso {
width: 300px;
height: 175px;
font-size: 12px;
line-height: 22px;
color: #f0d8d9;
font-family: "Lato";
font-weight: 400;
text-align: left;
margin-left: 20px;
margin-top: -70px;
}

.numberr{
    color: #f0d8d9;
    text-decoration: none;

 
}

 img{
    margin-right: 5px;
}
